<p id="notice"><%= notice %></p>

<p>
  <b>Ksq seq no:</b>
  <%= @proprietary.KSQ_SEQ_NO %>
</p>

<p>
  <b>Membership:</b>
  <%= @proprietary.MEMBERSHIP %>
</p>


<%= link_to 'Edit', edit_proprietary_path(@proprietary) %> |
<%= link_to 'Back', proprietaries_path %>
