<p id="notice"><%= notice %></p>

<p>
  <b>Form id:</b>
  <%= @locked_form.FORM_ID %>
</p>

<p>
  <b>User id:</b>
  <%= @locked_form.USER_ID %>
</p>

<p>
  <b>Session id:</b>
  <%= @locked_form.SESSION_ID %>
</p>


<%= link_to 'Edit', edit_locked_form_path(@locked_form) %> |
<%= link_to 'Back', locked_forms_path %>
