<p id="notice"><%= notice %></p>

<p>
  <b>Seq no:</b>
  <%= @form.SEQ_NO %>
</p>

<p>
  <b>Form id:</b>
  <%= @form.FORM_ID %>
</p>

<p>
  <b>Revised item no:</b>
  <%= @form.REVISED_ITEM_NO %>
</p>

<p>
  <b>Status:</b>
  <%= @form.STATUS %>
</p>

<p>
  <b>Policy name:</b>
  <%= @form.POLICY_NAME %>
</p>

<p>
  <b>Form label:</b>
  <%= @form.FORM_LABEL %>
</p>

<p>
  <b>Form no:</b>
  <%= @form.FORM_NO %>
</p>

<p>
  <b>Edition date:</b>
  <%= @form.EDITION_DATE %>
</p>

<p>
  <b>Type of policy:</b>
  <%= @form.TYPE_OF_POLICY %>
</p>

<p>
  <b>Lob:</b>
  <%= @form.LOB %>
</p>

<p>
  <b>Type of document:</b>
  <%= @form.TYPE_OF_DOCUMENT %>
</p>

<p>
  <b>Submitter company:</b>
  <%= @form.SUBMITTER_COMPANY %>
</p>

<p>
  <b>Submitter name:</b>
  <%= @form.SUBMITTER_NAME %>
</p>

<p>
  <b>Submitters email:</b>
  <%= @form.SUBMITTERS_EMAIL %>
</p>

<p>
  <b>Client reference file:</b>
  <%= @form.CLIENT_REFERENCE_FILE %>
</p>

<p>
  <b>Date received:</b>
  <%= @form.DATE_RECEIVED %>
</p>

<p>
  <b>Due date:</b>
  <%= @form.DUE_DATE %>
</p>

<p>
  <b>Mapping completed:</b>
  <%= @form.MAPPING_COMPLETED %>
</p>

<p>
  <b>Mapped by:</b>
  <%= @form.MAPPED_BY %>
</p>

<p>
  <b>Parsing completed:</b>
  <%= @form.PARSING_COMPLETED %>
</p>

<p>
  <b>Loaded:</b>
  <%= @form.LOADED %>
</p>

<p>
  <b>New form id:</b>
  <%= @form.NEW_FORM_ID %>
</p>

<p>
  <b>Text file name:</b>
  <%= @form.TEXT_FILE_NAME %>
</p>

<p>
  <b>New text file name:</b>
  <%= @form.NEW_TEXT_FILE_NAME %>
</p>

<p>
  <b>New policy name:</b>
  <%= @form.NEW_POLICY_NAME %>
</p>

<p>
  <b>Comments:</b>
  <%= @form.COMMENTS %>
</p>

<p>
  <b>Create date:</b>
  <%= @form.CREATE_DATE %>
</p>

<p>
  <b>Create by:</b>
  <%= @form.CREATE_BY %>
</p>

<p>
  <b>Updated date:</b>
  <%= @form.UPDATED_DATE %>
</p>

<p>
  <b>Updated by:</b>
  <%= @form.UPDATED_BY %>
</p>


<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
